body,html{
    background: linear-gradient(
        to right,
        #c9ffbf,
        #ffafbd
    );
    width: 100%;
    height: 100%;
}

/* 选择地图介绍 */
.direction{
    width: calc(100% - 30%);
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
}

.direction .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 0 5%;
    max-width: 30%;
    height: auto;
}

.direction .label div button{
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 去掉默认边框 */
    border-radius: 20px; /* 圆角 */
    background: linear-gradient(to bottom, #FEAC5E, #C779D0, #4BC0C8); /* 渐变背景 */
    color: white; /* 文字颜色 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    transition: background 0.3s; /* 渐变动画效果 */
}

.direction .label div button:hover {
    background: linear-gradient(to top, #FEAC5E, #C779D0, #4BC0C8); /* 鼠标悬停时的渐变方向 */
}

.direction .label div button a{
    text-decoration: none;
    color: #ffffff;
}

.direction .map{
    max-width: 60%;
    height: auto;
    margin-left: 15px;
}

.direction .map img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30%);
    margin: 20px 15% 0 15%;

}