body,html{
    background: linear-gradient(
        to right,
        #c9ffbf,
        #ffafbd
    );
    width: 100%;
    height: 100%;
}

/* 选择地图介绍 */
.direction{
    width: calc(100% - 30%);
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
}

.direction .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
