body,html{
    background: linear-gradient(
        to right,
        #70e1f5,
        #ffd194
    );
}

.content-container h2{
    font-size: 56px;
    color: #1a56db;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-family: "楷体";
    text-align: center; 
    padding: 20px 0; 
    font-size: 48px;
    margin-bottom: 10px;
}

/* 选择地图介绍 */
.direction{
    width: calc(100% - 30%);
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
}

.direction table {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right: 5%;
}

.direction table tr , .direction table td{
    text-align: center;
}

.direction .label li{
    list-style-type: none;
}

/* 新生准备 */
.guide{
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
}

.guide table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.guide table thead tr{
    border-bottom: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: rgb(0, 22, 120);
    text-align: left;
    padding: 15px;
    opacity: 0.6;
}

.guide table thead tr th{
    padding: 15px;
    font-weight: bold;
    font-size: large;
}

.guide table tbody col {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.3s;
}

.guide table tbody tr{
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.3s;
}

.guide tbody .t-tr{
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.3s;
}

.guide table tbody col td, .guide table tbody tr  td{
    padding: 15px; font-weight: bold;
}

.doing{
    display: flex;
    margin: 40px auto;
    width: 90%;
    height: 60%;
    max-width: 1200px;
    gap: 30px;
    opacity: 0.75;
}

